@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start tailwind */
@layer {
  .container {
    @apply m-auto px-[15px];
  }
  .center-element {
    @apply flex justify-center items-center;
  }
}
/* End tailwind */

/* Start header */
.active {
  opacity: 1;
}
@media (min-width: 992px) {
  .remove-bar-icon {
    display: none;
  }
}
.remove-menu {
  display: none;
}
.show-menu {
  display: block;
}
@media (max-width: 992px) {
  header nav {
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: -100%;
    top: 0;
    width: 35%;
    height: 100vh;
    background-color: #f39c12;
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid black;
  }
  header nav.open {
    left: 0;
  }
  header nav.close {
    left: -100%;
  }
  header nav ul {
    padding-left: 10px;
    align-items: start;
    flex-direction: column;
  }
  header nav ul li {
    border-bottom: 1px solid #444;
  }
}
header nav ul li a {
  color: white;
  text-align: center;
}
/* End header */

/* Start carousel */
.carousel-root {
  height: 100%;
}
.carousel {
  height: 100%;
}
.carousel .slider-wrapper {
  height: 100%;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100% !important;
}
.legend {
  top: 80%;
  left: 45%;
  height: 50%;
  width: 50%;
  transition: 5s;
}
.carousel.carousel-slider:hover .legend {
  top: 50%;
}
/* End carousel */

/* Start site cart */
.side-cart-open {
  right: 0;
}
.side-cart-closed {
  right: -1000px;
}
/* End site cart */
